# App settings
APP_TERMINATE_TIMEOUT=5s
APP_SHUTDOWN_TIMEOUT=2s

# Bot settings
BOT_URL=localhost:8081
BOT_SCRAPPER_URL=http://localhost:8080
BOT_API_TOKEN=
BOT_DATABASE_HOST=localhost
BOT_DATABASE_PORT=5432
BOT_DATABASE_USER=bot
BOT_DATABASE_PASSWORD=postgres
BOT_DATABASE_NAME=bot
BOT_DATABASE_SSL_MODE=disable
BOT_DATABASE_TYPE=sql

# Scrapper settings
SCRAPPER_URL=localhost:8080
SCRAPPER_BOT_URL=http://localhost:8081
SCRAPPER_DATABASE_HOST=localhost
SCRAPPER_DATABASE_PORT=5433
SCRAPPER_DATABASE_USER=scrapper
SCRAPPER_DATABASE_PASSWORD=postgres
SCRAPPER_DATABASE_NAME=scrapper
SCRAPPER_DATABASE_SSL_MODE=disable
SCRAPPER_DATABASE_TYPE=builder

# Client settings
CLIENT_DIAL_TIMEOUT=5s
CLIENT_DIAL_KEEP_ALIVE=30s
CLIENT_MAX_IDLE_CONNS=100
CLIENT_IDLE_CONN_TIMEOUT=90s
CLIENT_TLS_HANDSHAKE_TIMEOUT=10s
CLIENT_EXPECT_CONTINUE_TIMEOUT=1s
CLIENT_TIMEOUT=30s

# Server settings
SERVER_READ_TIMEOUT=10s
SERVER_READ_HEADER_TIMEOUT=10s

# GitHub settings
GITHUB_TOKEN=

# Scheduler settings
SCHEDULER_INTERVAL=1h
SCHEDULER_AT_HOURS=10
SCHEDULER_AT_MINUTES=0
SCHEDULER_AT_SECONDS=0